---
import Layout from '../../layouts/Layout.astro';
import { getLaunchById, getLatestLaunches } from '../../services/spacex.js';
const { id } = Astro.params;

let launch;
if (id) {
	launch = await getLaunchById({ id });
}

export const prerender = false;
---

<Layout title={`Launch ${id}`}>
	<article class="flex gap-y-4 flex-col">
		<img class="w-80 h-auto" src={launch?.links?.patch.small} alt={launch?.name}>
		<h2 class="text-4xl font-bold text-white">Launch #{launch?.flight_number}</h2>
		<p class="text-lg">{launch?.details}</p>
	</article>
</Layout>
