---

import CardLaunch from './CardLaunch.astro';
import {getLatestLaunches} from '../services/spacex';
const launches = await getLatestLaunches();

---

<h1 class="text-center">SpaceX Launches List</h1>
<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
	{
		launches.map((launch) => (
			<CardLaunch
				id={launch.id}
				img={launch.links.patch.small}
				success={launch.success}
				flightNumber={launch.flight_number}
				details={launch.details}
			>
				{' '}
			</CardLaunch>
		))
	}
</div>
